* {
  padding: 15%;
  margin: 0;
  background: rgb(20,20,20);
}

a, div, input {
  font-family: sans-serif;
}
.rainbow {
  background: linear-gradient(90deg, rgb(255,0,0), rgb(255,255,0), rgb(255,0,255));
  animation: linear 5s infinite normal none running r_effect;
}

@keyframes r_effect {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
